body{
    color:rgb(0, 0, 0);
    margin: auto;
    height: auto;
    text-align: center;
    background-color: aqua;
}   

.buttonplus{
background: rgb(252, 252, 252);
border-radius: 50%;
height: 1cm;
width: 1cm;
}

.buttonminus{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    height: 1cm;
    width: 1cm; 
}
